body {
    margin: 0 auto;
    width: 100%;
    display: flex;
    -ms-flex-align: center;
    background-color: blueviolet;
}
.content {
    background-color: white;
    -ms-flex-item-align: center;
    align-items: center;
    width:50%;
}

input {
    display:block;
}
